<div class="contacts">
    <div class="ui huge centered aligned header title">Contacts</div>
    <div class="grid ui equal width stackable height">
        <div class="column">
            <div class="ui segment centered card">
                <div class="content">
                    <div class="header">Aloïs Héloir</div>
                    <div class="meta">Membre du projet</div>
                    <div class="description">
                        Salut
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment centered card">
                <div class="content">
                    <div class="header">Loup Dallier</div>
                    <div class="meta">Membre du projet</div>
                    <div class="description">
                        Salut
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment centered card">
                <div class="content">
                    <div class="header">Thomas Barrau</div>
                    <div class="meta">Membre du projet</div>
                    <div class="description">
                        Salut
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui segment centered card">
                <div class="content">
                    <div class="header">Maxime Caylar</div>
                    <div class="meta">Membre du projet</div>
                    <div class="description">
                        Salut
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui huge centered aligned header title">Librairies & logiciels utilisés</div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Liens</th>
            </tr>
        </thead>
        <tbody>
            <tr class="top aligned">
                <td>Gtk 3+</td>
                <td>Une boite à outils pour la création d'interfaces graphiques</td>
                <td>
                    <a href="https://www.gtk.org/" target="_blank">
                        <i class="icon linkify"></i> gtk.org
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>