<link rel="stylesheet" href="./templates/css/discovery.css">

<div class="container ui segment discovery">
    <div class="ui right rail">
        <div class="ui segment">
            <div class="ui vertical following accordion text menu">
                <div class="item active">
                    <a href="#">
                        Découvrir
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        Résumé
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        En action
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        Premier pas
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        Téléchargement
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui dividing header">
        Découvrir
    </div>
    <div class="ui dividing header">
        Résumé
    </div>

    <div class="ui dividing header">
        En action
    </div>

    <div class="ui dividing header">
        Premier pas
    </div>

    <div class="ui dividing header">
        Téléchargement
    </div>

</div>