<div class="home">
    <div class="ui huge header">Infinity View C</div>
    <h2>
        <i class="github icon"></i>
        Un éditeur open-source
    </h2>
    <h2>
        <i class="file alternate outline icon"></i>
        Développer en C en toute tranquilité
    </h2>
    <br>
   <button class="ui button inverted large"> 
        <i class="icon paper plane"></i>
        Découvrir
    </button> 
    <button class="ui button inverted large downloadsButton"> 
        <i class="icon download"></i>
        Télécharger
    </button> 
    
    
    <p></p>
</div>